<h2 class="dark center-text">PVE Combat</h2>

        <div class="card mb-3 shadow">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="images/ship_png/viper-mk-iii.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Starter Combat Viper Mk3</h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 2.5M credits<br>Engineers: None</h6>
                        <p class="card-text combat-card-text">Fast and fun to fly with reasonable damage output the
                            viper makes a great
                            introduction to combat. However, it’s weak shields mean that it can’t take much of a
                            beating. This is, in many ways the ideal for an introduction to combat, as it will teach you
                            to juggle pips, fly evasively, and avoid being shot in the first place, a skill that will
                            serve you well later down the line.</p>
                        <p class="card-text combat-card-text">The point defence here is intended to protect you against
                            the missiles that
                            NPCs then to fire rapidly once your shields drop. If you're really struggling with the fixed
                            lasers, then you can you can trade for gimballed lasers but the damage bonus of fixed is
                            worth it if you can hit with them. If you have access to any engineering, then the first
                            place to work is to upgrade the thrusters to the enhanced versions (sold by Farseer) to
                            capitalise on your speed. </p>
                        <a href="https://s.orbis.zone/8_EL" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="whatwedo-col col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <img class="card-img-top" src="images/ship_png/vulture.png">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Basic Combat Vulture</h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 21M credits<br>Engineers: None</h6>
                        <p class="card-text smallerer-text">Fast and fun to fly with reasonable damage output the viper
                            makes a great introduction to combat. However, it’s weak shields mean that it can’t take
                            much of a beating. This is, in many ways the ideal for an introduction to combat, as it will
                            teach you to juggle pips, fly evasively, and avoid being shot in the first place, a skill
                            that will serve you well later down the line. </p>
                        <a href="https://s.orbis.zone/8_FI" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>

            <div class="whatwedo-col col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <img class="card-img-top" src="images/ship_png/chieftain.png">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Mid-Range Combat Chieftain</h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 83M credits<br>Engineers: Farseer,
                            Blaster</h6>
                        <p class="card-text smallerer-text">Great combat ship with some serious damage output and thanks
                            to the massive number of hardpoints a lot of flexibility in loadout. It's also MUCH more
                            rugged thanks to the Chief's incredible hull, this ship can really soak up some damage.
                            We've added some very basic engineering in here, only the two engineers who most CMDRs
                            unlock first - these two alone make an enormous difference to what you can do with this
                            ship. </p>
                        <a href=" https://s.orbis.zone/a_d5" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>

            <div class="whatwedo-col col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <img class="card-img-top" src="images/ship_png/krait-mk-ii.png">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Mid-Progression Krait Mk2</h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 180M credits<br>Engineers: Farseer,
                            Blaster, Liz Ryder, Lei Cheung, Dweller</h6>
                        <p class="card-text smallerer-text">The Krait Mk2 is a staple combat ship for commanders all
                            across the galaxy, from mission runners, to conflict zones, to AX. She's fast, extremely
                            tough and versatile and has very well placed weapons. </p>
                        <p class="card-text smallerer-text">She loses out a little to the chieftain in terms of agility,
                            but instead she is faster, has tougher shields, and much more well protected modules and a
                            bigger distributor to keep her firing longer. </p>
                        <a href="https://s.orbis.zone/93_v" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 shadow">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="images/ship_png/anaconda.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Combat Anaconda</h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 570M credits<br>Engineers: Farseer,
                            Blaster, Lei Cheung, Dweller, Hera Tani, Selene Jean, Prof Palin, Lori Jameson, Didi
                            Vaterman</h6>
                        <p class="card-text combat-card-text">This is where we start to get into serious PVE ships. The
                            Anaconda has the toughest maximum hull in the game, it has arguably the highest maximum
                            sustained damage output. It isn't the most manoeuvrable ship in the game, but it's
                            hardpoints are well located for maximum application of fixed hardpoints if you can use them
                            well. </p>
                        <p class="card-text combat-card-text">It's also the first ship on this list with a full set of 8
                            utility slots offering some impressive shields. Note that this build utilises shield cell
                            banks, but does not use heat sinks. This is known as "hot-banking", and should be expected
                            to cause some level of module damage. That said, with the three MRPs, this ship should be
                            able to cope with that fine.</p>
                        <a href="https://s.orbis.zone/a04l" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters shadow">
                <div class="col-md-2">
                    <img src="images/ship_png/federal-corvette.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Combat Corvette </h5>
                        <h6 class="cart-subtitle text-muted smaller-text">Cost: 1,000M credits<br>Engineers: Farseer,
                            Blaster, Lei Cheung, Dweller, Hera Tani, Selene Jean, Prof Palin, Lori Jameson, Didi
                            Vaterman</h6>
                        <p class="card-text combat-card-text">One of the best combat orientated ships in the game. The
                            vette comes with significantly better shields than the anaconda, but not as much maximum
                            hull. Not quite a match for the firepower, or the tightness of the clustering of the
                            hardpoints, but better turn rate and thus ability to apply the damage. </p>
                        <p class="card-text combat-card-text">This is a fully engineered build, capable of taking on any
                            human NPCs in the game and obliterating them. Perfectly capable of taking on multiple full
                            wings NPC ships at the same time and soloing High Intensity Conflict zones. </p>
                        <p class="card-text combat-card-text">This build takes a different approach to managing the heat
                            from the Shield Cell Banks, here it is to use thermal vent on the lasers, effectively using
                            the enemy ships as your heat sinks. There are many other loadouts that the Vette can fit and
                            work very well with.</p>
                        <a href="https://s.orbis.zone/a043" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>
        </div>