<h2 class="center-text">PVP Combat</h2>

        <div class="card mb-3 bg-secondary">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="images/ship_png/fer-de-lance.png" class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Standard META Fer-de-Lance (metalance)</h5>

                        <p class="card-text combat-card-text">The prismatic Fer De Lance is the current META PVP ship
                            because it is the most versatile medium ship that strikes the best balance between
                            shielding, manoeuvring, speed and damage output. The standard plasma/rail loadout works on
                            the theory that you will use your agility and positioning to do big damage in single blows
                            while evading for the rest of the fight.</p>
                        <p class="card-text combat-card-text">It has chaff to counter gimbals and shield cell banks to
                            recharge its shields, because prismatic shields recharge too slowly to matter during a
                            fight. The choice between big prismatic (with the shield gen in the size 5) and small
                            prismatic (shield gen in size 4) is simply a question of whether you want more total hit
                            points (small prismatic), or safer hit points (big prismatic).</p>
                        <p class="card-text combat-card-text">Any hit points contained in the shield generator and
                            boosters are "safer" than hit points contained in shield cell banks, because shield cells
                            can be countered if you are shot at the right time with a feedback cascade railgun (which is
                            why this gun is always equipped in the META). </p>
                        <p class="card-text combat-card-text">The effectiveness of this build scales with the skill of
                            the pilot. It is hard to use, but the better you get with it, the better it becomes.
                            Furthermore, it forces you to learn all the manoeuvring, positioning and timing skills that
                            you will need to excel in any build. This build is highly effective for PVP duels and wing
                            fights, as well as bounty hunting or winging up for combat zones. It suffers for ammunition
                            during extended PVE encounters, and prismatics in general require the occasional "reboot &
                            repair" or trip to a station to regain lost shields once the shield cells are used up.</p>
                        <a href="https://s.orbis.zone/6q58" target="_blank" class="btn btn-warning">Open Build 1</a>
                        <a href="https://s.orbis.zone/6q59" target="_blank" class="btn btn-warning">Open Build 2</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="whatwedo-col col-lg-6">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <img class="card-img-top" src="images/ship_png/vulture.png">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Bi-weave pacifier Vulture</h5>

                        <p class="card-text smallerer-text">The bi-weave pacifier vulture is a small ship with more hull
                            than many medium ships. It relies on speed, agility, and an annoyingly fast shield
                            regeneration to stay alive. Its large incendiary pacifier frag is effective at 1km or
                            closer, and does substantial shield damage, while the drag-munitions pacifier strips the
                            opponent's ability to manoeuvre as you spin around and fire from behind.</p>

                        <p class="card-text smallerer-text">In PvP encounters, this build provides an excellent
                            opportunity to practice evasive, high alpha (high alpha means lots of damage all at once)
                            flying, and it can prove the equal or better of many pilots in medium ships. Other common
                            weapons loadouts for this build include dual plasma accelerators (efficient engineering with
                            experimental choices depending on whether you're building for PvP or PvE) which have a
                            similar play style to the pacifier build, or dual multi-cannons (overcharged incendiary/high
                            capacity corrosive) for a build that relies on "time on target:" circling the opponent at
                            medium range while doing steady damage.</p>

                        <p class="card-text smallerer-text">The vulture's agility has long made it the standard ship to
                            first learn how to use fixed weapons. This is an excellent build for bounty hunting,
                            assassinations, winging up for CZs or PvP duels. Like the bi-weave FDL, it's lots of fun to
                            fly, forces you to learn effective evasion techniques and how to bring those shields up
                            quickly. It also has a fraction of the rebuy... </p>
                        <a href="https://s.orbis.zone/7gC0" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>

            <div class="whatwedo-col col-lg-6">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <img class="card-img-top" src="images/ship_png/federal-corvette.png">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Anti-large ship Vette</h5>

                        <p class="card-text smallerer-text">This Corvette will be immortal in any PVE encounter. It can
                            tank several CZs in a row and shrug off any wing of NPCs. Like all effective big-ship
                            builds, it relies on your ability to power-cycle shield cell banks, keeping only the bank
                            that you're using online, then shutting it down to turn on the next one when it's done.
                            Since big ship fights come down to shield cell banks, this build has dual reverb cascade
                            imperial hammers, for when you absolutely, positively must cancel shield cells.</p>

                        <p class="card-text smallerer-text">This build is highly effective for fighting other large,
                            heavily engineered shield/hull monsters. It is ineffective at fighting small ships, since
                            the convergence of its railguns is further apart than the width of a small ship's profile
                            even at several km. Its turrets don't do enough damage to hurt anything significantly, and
                            the main damage dealers are either too spread (pacifier) or too slow/far apart (plasmas) to
                            consistently target small ships. This build CAN win any pvp encounter against another large
                            ship, though like all the other combat builds I've shared, pilot skill is a primary factor.
                        </p>

                        <p class="card-text smallerer-text">It can be made effective for PVE purposes by fitting
                            gimballed/fixed multis or lasers but a bi-weave build with fast recharge is generally more
                            desirable for PVE purposes because the shields can regenerate between encounters as opposed
                            to using shield cell bank ammunition.</p>

                        <p class="card-text smallerer-text">A fighter bay would significantly improve this build's
                            utility against small or medium ships, but at the time of this posting, ship launched
                            fighters are bugged, and cause lag for an opposing player, so they are not appropriate for
                            PVP encounters. They are, however, fine for PVE, and there are no issues with having
                            multi-crew members fly your fighters.</p>
                        <a href="https://s.orbis.zone/498p" target="_blank" class="btn btn-warning">Open Build</a>
                    </div>
                </div>
            </div>
        </div>