<div class="row text-left text-secondary smaller-text">
    <div class="col-md-4">
        <p>This site was created using assets and imagery from Elite: Dangerous for non-commercial purposes. It is
            not endorsed by nor reflects the views or opinions
            of Frontier Developments and no employee of Frontier Developments was involved in the making of it.</p>

        <a href="https://www.facebook.com/groups/ed.newp" target="_blank"><i
                class="fab fa-facebook social-icon"></i></a>
        <a href="https://www.reddit.com/r/NewPilotsInitiative/" target="_blank"><i
                class="fab fa-reddit social-icon"></i></a>
    </div>


    <div class="col-md-4">
        <h5>Useful links:</h4>
            <ul class="list-group list-group-flush">
                <a href="https://inara.cz/squadron/5068/" target="_blank" class="text-decoration-none">
                    <li class="list-group-item list-group-item-action list-group-item-dark">Inara - NEWP</li>
                </a>
                <a href="https://coriolis.io/" target="_blank" class="text-decoration-none">
                    <li class="list-group-item list-group-item-action list-group-item-dark">Coriolis</li>
                </a>
                <a href="https://eddb.io/" target="_blank" class="text-decoration-none">
                    <li class="list-group-item list-group-item-action list-group-item-dark">EDDB</li>
                </a>
            </ul>
    </div>


    <div class="col-md-4 text-right">
        <p><i class="bi bi-house-fill"></i> Dynamic Software Solutions, Meliae</p>
        <p>© New Pilots Initiative</p>
    </div>
</div>