<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="images/newplogo.png"></a>


    <!-- toggler button for when screen size is reduced -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#faction">Systems</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ship Builds</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/combat#pvecombat">PVE Combat</a>
                    <a class="dropdown-item" href="/combat#pvpcombat">PVP Combat</a>
                    <a class="dropdown-item" href="#">AX Combat</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Laser Mining</a>
                    <a class="dropdown-item" href="#">Deep Core Mining</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Exploration</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/newp">Discord</a>
            </li>
        </ul>
    </div>
</nav>